# ====== Telegram Bot ======
# Токен бота, полученный у @BotFather
BOT_TOKEN=8911360063:AAG2mKAH0X21eMxiW3y-jbaXshcVFHYwyGk

# Юзернейм бота без @ (например purio_vpn_bot). Можно оставить пустым.
BOT_USERNAME=@puriovpn_bot

# Канал, обязательный для подписки
CHANNEL_USERNAME=@PurioVPN
CHANNEL_LINK=https://t.me/PurioVPN

# Юзернейм поддержки
SUPPORT_USERNAME=@regionshtat

# ====== Remnawave ======
# Адрес твоей панели БЕЗ слэша на конце, например https://panel.purio.space/api/
REMNAWAVE_BASE_URL=https://panel.purio.space
# Токен из Remnawave: Settings -> API Tokens
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiZDlkMDhhODMtNzJjOS00ZmUwLWI1NWItOGEyOGE0Mzk1ZjM5IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3ODcwNDQ5NTYsImV4cCI6MTgxODU4MDk1Nn0.jSfcXS2tKpeMVJTJxC5WcJxvofS_L-SBIi-vnMSPqKs
# UUID сквада (группы нод), в который добавлять пользователей
REMNAWAVE_SQUAD_UUID=d2a47f6c-e01d-4a71-b60f-fbc0bd2a103d


# ====== ЮKassa ======
# Данные из личного кабинета ЮKassa: Настройки -> API ключи
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://t.me/PurioVPN

# ====== Прочее ======
DB_PATH=bot.db
